MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>
DB_NAME=travel-journal
REFRESH_TOKEN_TTL=2592000
SALT_ROUNDS=13
ACCESS_JWT_SECRET=<use-a-random-secret-with-at-least-64-characters>
CLIENT_BASE_URL=http://localhost:5173
PORT=3000
NODE_ENV=development
